.menu-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    display: inline-block;
    font-weight: bold;
}

form#produtoForm {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 400px;
}

form#produtoForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.product-item img {
    max-width: 100%; /* Ajusta a largura da imagem para não ultrapassar o contêiner */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove o espaço em branco abaixo da imagem */
}

form#produtoForm input[type="text"],
form#produtoForm input[type="number"],
form#produtoForm input[type="url"] {
    width: calc(100% - 30px);
    padding: 10px;
    margin-bottom: 15px;
    border: 4px solid #ccc;
    border-radius: 4px;
}

form#produtoForm button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

form#produtoForm button[type="submit"]:hover {
    background-color: #218838;
}