* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(76, 61, 187, 0.914);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    text-align: left; /* Alinha o texto à esquerda */
    background-color: #fff;
    padding: 40px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.box h1 {
    color: #4c3dbb;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

.form-group {
    margin-bottom: 20px; 
}

label {
    color: #333;
    display: block; 
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="tel"] {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px; /* Aumenta o padding para espaço lateral */
    margin-bottom: 10px; 
}

button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px; 
}

button:hover {
    background-color: #286ab0;
}